[Desktop Entry]
Name=Skype
Comment=Skype Internet Telephony
Exec=env LD_PRELOAD=/usr/lib/i386-linux-gnu/libv4l/v4l1compat.so PULSE_LATENCY_MSEC=60 skype %U
Icon=skype.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
MimeType=x-scheme-handler/skype;
X-KDE-Protocols=skype
